<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Go URL Shortner</title>
</head>
<body>
<div class="container">
    <div th:fragment="navbar">

        <nav>
            <div class="nav-wrapper teal">
               <!-- <a href="/" class="brand-logo center">Logo</a>-->
                <ul class="left hide-on-med-and-down">
                    <li><a href="/">Search</a></li>
                    <li><a href="/manage-url">Add New</a></li>
                    <!--<li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>-->
                </ul>
                <!--<span sec:authorize="isAuthenticated()">
                    Logged user: <span sec:authentication="name"></span> |
                    Roles: <span sec:authentication="principal.authorities"></span> |
                    <a th:href="@{/logout}">Sign Out</a>
                </span>-->
                <ul class="right hide-on-med-and-down">
                    <li><a href="/logout">Sign out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <footer th:fragment="footer" class="page-footer teal">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright to <a class="white-text" href="mailto:jabadurai.com">Jabadurai</a>
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    <div th:fragment="alerts">
        <div class="materialert info" th:text="${info}" th:if="${info}">
            <div class="material-icons">info_outline</div>
            Oh! What a beautiful alert :)
        </div>
        <div class="materialert error" th:text="${error}" th:if="${error}">
            <div class="material-icons">error_outline</div>
            Oh! What a beautiful alert :)
        </div>
        <div class="materialert success" th:text="${success}" th:if="${success}">
            <div class="material-icons">check</div>
            Oh! What a beautiful alert :)
        </div>
        <div class="materialert warning" th:text="${warning}" th:if="${warning}">
            <div class="material-icons">warning</div>
            Oh! What a beautiful alert :)
        </div>
    </div>
</div>
<script src="/js/materialize.min.js"></script>
</body>
</html>
