<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Go URL Shortner</title>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/general :: navbar}"></div>
    <div th:insert="~{fragments/general :: alerts}"></div>

    <div class="new-url-add">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <form action="/" th:action="@{/}" id="form" th:object="${search}" class="form col s12" method="post">
                        <h5>Search Short URL(s)</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="full_url" name="originalUrl" placeholder="Enter Full URL" />
                                <label for="full_url">Full URL</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" id="short_url" name="shortUrl" placeholder="Enter Short URL" />
                                <label for="short_url">Short URL</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="list-urls">
        <table class="bordered" id="short-url-data">
            <tr>
                <th>Short URL</th>
                <th>Full URL</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th></th>
            </tr>
            <tr th:each="url : ${list}">
                <td><a target="_blank" class="teal-text" th:text="${url.shortUrl}" th:href="@{/go/{shortUrl}(shortUrl=${url.shortUrl})}"/></td>
                <td th:text="${url.originalUrl}"/>
                <td th:text="${#temporals.format(url.createdAt, 'dd-MMM-yyyy HH:mm')}"/>
                <td th:text="${url.createdBy}"/>
                <td>
                    <a th:href="@{/manage-url/{id}(id=${url.id})}"><i class="material-icons teal-text">edit</i></a>
                    <a th:href="@{/manage-url/remove/{id}(id=${url.id})}"><i class="material-icons teal-text">delete</i></a>
                </td>
            </tr>
        </table>
    </div>
    <div th:insert="~{fragments/general :: footer}"></div>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
</body>
</html>
