<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/materialize.min.css" />
    <title>Go URL Shortner</title>
</head>
<body>
<div class="container">
    <div class="login">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <form th:action="@{/login}" id="form" th:class="form" method="post">
                        <h5>Sign In</h5>
                        <div class="form-control">
                            <label for="username">User ID</label>
                            <input type="text" id="username" name="username" />
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" />
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Go</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
</body>
</html>
