<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <div th:replace="~{fragments/general :: common-links}"></div>
</head>

<body>
<div class="container bg-light pt-5">
    <div th:insert="~{fragments/general :: navbar}"></div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4><i class="fas fa-user"></i> Change Password</h4>
                    </div>
                    <div class="card-body">
                        <form id="changePasswordForm" th:action="@{/password}" th:method="post">
                            <div th:if="${error}" class="alert alert-danger" role="alert">
                                <span th:text="${error}"></span>
                            </div>
                            <div th:if="${success}" class="alert alert-success" role="alert">
                                <span th:text="${success}"></span>
                            </div>
                            <div class="mb-3">
                                <label for="currentPassword" class="form-label">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" th:value="${changePasswordRequest.currentPassword}" placeholder="Enter current password" required>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" th:value="${changePasswordRequest.newPassword}" placeholder="Enter new password" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:value="${changePasswordRequest.confirmPassword}" placeholder="Re-enter new password" required>
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/general :: footer}"></div>
</div>
</body>
</html>
